@font-face {
  font-family: 'Staatliches';
  src: url('fonts/Staatliches/Staatliches-Regular.ttf');
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: 'Staatliches', cursive;
  text-align: center;
  max-width: 800px;
  min-height: 100vh;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#wrapper {
  flex-grow: 1;
  min-height: 800px;
}

#bgVideo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

span {
  display: inline-block;
}

button {
  padding: .5em;
  font-size: 1.125rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  width: max-content;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}

.loading-icon {
  display: none;
  padding: .5rem;
  border: .325rem solid gray;
  border-top: .325rem solid lightblue;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}

/* p5.js canvas stuff */

#sketch {
  position: relative;
  width: 100%;
  height: max-content;
  max-width: 640px;
  margin-inline: auto;
}

#myCapture, canvas {
  display: block;
  width: 100% !important;
  height: auto !important;
}

#myCapture {
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleX(-1);
  z-index: 0;
}

canvas {
  position: relative;
  z-index: 1;
}

#patriotConfirmed {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 22vmin;
  color: red;
  -webkit-text-stroke: 3px white;
  text-align: center;
  animation: confirmed .8s infinite linear;
  display: none;
  z-index: 100;
}

@keyframes confirmed {
  0% {color: red; transform: translate(-50%, -50%) scale(1)}
  50% {color: white; transform: translate(-50%, -50%) scale(1.05)}
}